/* Download Protection Styles */
.gallery-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.gallery-container img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

.gallery-container::selection {
  background: transparent;
}

.gallery-container::-moz-selection {
  background: transparent;
}

/* Disable right-click context menu */
.no-context-menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Disable image dragging */
.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* Disable text selection on images */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide image URLs in print */
@media print {
  .gallery-container img {
    display: none !important;
  }
  
  .gallery-container::after {
    content: "Images are protected and cannot be printed.";
    display: block;
    text-align: center;
    padding: 2rem;
    color: #666;
  }
}